<li *ngFor="#todoList of lists trackBy _byId"
    [class.active]="isCurrent(todoList)"
    class="todo-lists-list-item">
    <header [todo-list-header]="todoList"></header>
    <ul *ngIf="!isCurrent(todoList)" class="todo-list">
        <li *ngFor="#todo of todoList.todos"
            class="todo-preview"
            [class.done]="todo.completed">
            {{ todo.text }}
        </li>
    </ul>
    <editable-list *ngIf="isCurrent(todoList)" [todoList]="todoList" [filter]="filter">
    </editable-list>
</li>