<li *ngFor="#todoList of lists trackBy _byId" [class.active]="todoList.id === currentId" class="todo-lists-list-item">
    <header [todo-list-header]="todoList"></header>
    <template [ngIf]="todoList.id !== currentId">
        <ul class="todo-list">
            <li *ngFor="#todo of todoList.todos" class="todo-preview" [class.done]="todo.completed">
                {{ todo.text }}
            </li>
        </ul>
    </template>
    <editable-list [todoList]="todoList" *ngIf="todoList.id === currentId"></editable-list>
</li>